$color-main: #7289DA;
$color-main-hover: #576bae;
$color-white: #FFFFFF;
$color-light-gray: #99AAB5;
$color-gray-hover: #37383e;
$color-gray-transparent: rgba(44, 47, 51, 0.9);
$color-gray: #2C2F33;
$color-black: #23272A;
$color-black-transparent: rgba(35, 39, 42, 0.9);
$color-nav: rgba(0, 0, 0, 0.32);
$color-dark-black: #1d1f23;

$color-blue: #0091dc;
$color-orange: #ffb900;
$color-red: #ff5656;

